body{
    margin: 0px;
    position: static;
    background-color: darkgray;
}
#container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    position: static;
    background-color: white;
}
img{
    margin-top: 1px;
}
#logo{
    margin: 0px;
    padding: 0px;
    height: auto;
    width: auto;
    position: static;
    background-color: gray;
    background-image: url("images/nilogobg.png");
}
#navigator{
    height: 80px;
    margin: 0px auto;
    text-align: center;
    position: static;
    background-color: white;
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
}
#content{
    height: 500px;
    margin: auto auto;
    position: static;
    background-color: white;
}
#statusbar{
    height: 50px;
    width: 900px;
    position: static;
    margin: auto auto;
    border-top: 1px solid aqua;
    background-color: white;
}

#tb1{
    border: 1px solid blue;
    text-align: center;
    margin: 0px auto;
    border: 2px solid blue;
}
table{
    text-align: center;
    margin: 0px auto;
}
td{
    width: 140px;
}
.tdc input{
    margin: 13px;
    text-align: center;
}
#td1{
    background-image: url("images/nilogo.png");
    width: 100px;
    height: 50px;
    text-align: center;
}
#td2{
    background-image: url("images/nilogo.png");
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
}
#td3{
    background-image: url("images/nilogo.png");
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
}
#td4{
    background-image: url("images/nilogo.png");
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
}
#td5{
    background-image: url("images/nilogo.png");
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
}
